# Excluir notebooks del cálculo de lenguajes
src/corpus_analisis/visual_analisis.ipynb linguist-vendored
src/modeling/training_models.ipynb linguist-vendored
data/scrapping_elcolombiano/scrapping.ipynb linguist-vendored
data/scrapping_espectador/El_Espectador.ipynb linguist-vendored

# Excluir imágenes y figuras (no cuentan como código)
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored

# Asegurar que el código principal se cuenta como Python
*.py linguist-language=Python
